@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #fff;
    --dark-green: #1a564b;
    --light-green: #6fb98f;
    --green: #315740;
}

body {
    font-family: "Be Vietnam Pro" !important;
}

/* Header */
.fixed-top {
    transition: background-color 0.6s ease, box-shadow 0.3s ease;
}

.scrolled-past {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.scrolled-past .navbar-nav .nav-link {
    color: var(--green);
    text-shadow: 0px 0px 0px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo .brand-name {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-size: 28px;
    padding-left: 5px;
    color: var(--green);
}

.logo img {
    width: 56px;
    height: 56px;
}
.navbar-nav {
    align-items: center;
}
.navbar-nav .nav-link {
    font-size: 20px;
    margin-left: 15px;
    font-weight: 500;
    color: var(--green);
    transition: color 0.6s;
    position: relative;
}

.navbar-nav .nav-link.active::before,
.navbar-nav .nav-link:hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 3px;
    background: var(--color-01);
    bottom: 0px;
    left: calc(50% - 35px);
}

/* End header */
/* Button CSS */
.button {
    position: relative;
    padding: 10px 25px;
    border: 0;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    color: #fff;
}

.button-left {
    background: linear-gradient(to right, #315740 50%,
            #3f7253 50%);
    background-size: 200% 100%;
    background-position: right;
}

.button-left:hover {
    background-position: left;
}

/* End button CSS */
/* Main */
.contact-section {
    margin-top: 80px;
    background-color: #fff;
}

.contact-main {
    padding-top: 40px;
}

.contact-section h2 {
    font-size: 46px;
    letter-spacing: -2px;
}

.contact-image {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0 30px 0;
    padding-bottom: 30px;
    width: 100%;
}

.logo-img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    object-fit: cover;
}

.contact-info p {
    display: flex;
    align-items: center;
}

.contact-info p a {
    text-decoration: none;
    color: #000;
}

.contact-info p span {
    margin-left: 10px;
}

.contact-info .button a {
    text-decoration: none;
    color: #fff;
}
/* --------------------------- */

.contact-form a {
    text-decoration: none;
    color: #fff;
}

.contact-form a:hover {
    transition: all 0.3s;
}

.contact-info .contact-info-btn {
    background: var(--dark-green);
    border: 2px solid transparent;
    border-radius: 100px;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    padding: 15px 25px;
}

.contact-section .contact-form {
    background: var(--dark-green);
    border-radius: 10px;
    padding: 40px;
}

.custom-form .form-control {
    border: none;
    margin-bottom: 24px;
    padding: 13px;
}

.custom-form button[type="submit"] {
    background: #34675c;
    border: none;
    border-radius: 100px;
    color: var(--white);
    font-weight: 600;
    transition: all 0.3s;
    margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.contact-info .contact-info-btn:hover {
    color: black;
}
/* End main */
/* Section 6 */
#footer img {
    margin-top: 50px;
    width: 100%;
}
#footer .footer_main {
    background-color: #222222;
}
#footer .footer_main .inner-main {
    padding: 30px;
    color: #fff;
    text-align: justify;
}
#footer .footer_main .inner-main .contact-list .icon {
    font-size: 20px;
    padding: 10px;
}
#footer .footer_main .inner-main .row .col-lg-3 ul {
    padding-left: 30px;
}
#footer .footer_main ul .head {
    font-size: 25px;
}
#footer .footer_main ul .email-input {
    width: 100%;
    margin-top: 10px;
}
#footer .footer_main ul .email-input input {
    padding: 8px 15px;
    border-radius: 25px;
}
#footer .footer_main .copyright-box {
    text-align: center;
}
/* End footer */