@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap');

:root {
    --cursor-size: 42px;
    --cursor-x: 0px;
    --cursor-y: 0px;
    --color-01: #021008;
    --color-02: #232323;
    --color-03: #315740;
}

body {
    min-width: 576px;
    font-family: "Be Vietnam Pro", sans-serif;
}

ul {
    list-style-type: none;
}

/* Button CSS */
.button {
    position: relative;
    padding: 10px 25px;
    border: 0;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    color: #fff;
}

.button-left {
    background: linear-gradient(to right, #315740 50%,
            #3f7253 50%);
    background-size: 200% 100%;
    background-position: right;
}

.button-left:hover {
    background-position: left;
}

/* End button CSS */
/* Header */
.fixed-top {
    transition: background-color 0.1s ease, box-shadow 0.3s ease;
}

.scrolled-past {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.scrolled-past .navbar-nav .nav-link {
    color: var(--color-01);
    text-shadow: 0px 0px 0px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo .brand-name {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-size: 28px;
    padding-left: 5px;
    color: var(--color-01);
}

.logo img {
    width: 56px;
    height: 56px;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav .nav-link {
    font-size: 20px;
    margin-left: 15px;
    font-weight: 500;
    color: var(--color-01);
    transition: color 0.6s;
    position: relative;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: var(--color-03) !important;
}

.navbar-nav .nav-link.active::before,
.navbar-nav .nav-link:hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 3px;
    background: var(--color-03);
    bottom: 0px;
    left: calc(50% - 35px);
}

.navbar-nav .nav-link:last-child:hover::before,
.navbar-nav .nav-link:last-child.active::before {
    display: none;
}

/* End header */
/* Hero section */
.hero-section {
    background-image: url("assets/image/hero-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.layer {
    position: absolute;
    min-width: 576px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layer-01 {
    background-image: url("assets/image/hero-01_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Be Vietnam Pro", sans-serif;
    color: #fff;
    text-shadow: 4px 4px 8px rgba(2, 0, 0, 2);
    font-size: 95px;
    font-weight: 700;
    line-height: 100px;
    cursor: default;
}

.text-container div {
    opacity: 0;
    transform: translateY(100px);
    animation: slide-up 1s forwards ease-in-out;
}

@keyframes slide-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.layer-02 {
    background-image: url("assets/image/hero-02.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    mask: url(/src/assets/image/test-mask.svg);
    mask-repeat: no-repeat;
    mask-position: calc(var(--cursor-x) - var(--cursor-size)/2) calc(var(--cursor-y) - var(--cursor-size)/2);
    mask-size: var(--cursor-size);
    pointer-events: none;
    transition-duration: 180ms;
    transition-timing-function: ease;
}

/* End hero */
/* Section 1 */
#section-1 {
    padding-top: 150px;
    padding-bottom: 30px;
}

#section-1 .image-box {
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

#section-1 .image-box .shape {
    background-image: url("assets/image/shape-1.png");
    position: absolute;
    top: 0px;
    width: 119px;
    height: 247px;
    background-repeat: no-repeat;
}

#section-1 .image-box .image {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    text-align: right;
}

#section-1 .image-box .image::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, .2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

#section-1 .image-box .image:hover::before {
    -webkit-animation: circle 1s;
    animation: circle 1s;
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

#section-1 .image-box .image img {
    width: 100%;
    border-radius: 50%;
    transition: all 500ms ease;
}

#section-1 .image-box .image img:hover {
    transform: scale(1.1);
}

#section-1 .content-box {
    padding-left: 20px;
}

#section-1 .content-box h2 {
    position: relative;
    display: block;
    font-size: 60px;
    line-height: 80px;
    font-weight: 900;
    padding-top: 11px;
    text-transform: uppercase;
}

#section-1 .content-box h2:before {
    position: absolute;
    content: '';
    width: 70px;
    height: 5px;
    left: 0px;
    top: 0px;
    background-color: var(--color-03);
}

#section-1 .content-box h4 {
    display: block;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 21px;
    color: var(--color-03);
}

#section-1 .content-box p {
    color: #71747A;
    margin-bottom: 30px;
}

#section-1 .content-box ul li {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 26px;
    color: var(--color-02);
    margin-bottom: 14px;
}

#section-1 .content-box ul {
    margin-bottom: 30px;
}

#section-1 .content-box ul li span {
    margin-left: 15px;
}

#section-1 .content-box ul li .icon {
    color: var(--color-03);
}

#section-1 .button {
    padding: 20px 50px !important;
    border-radius: 0;
    font-size: 20px;
}

/* End section 1 */
/* Section 2 */
#section-2 {
    padding: 80px 0;
    background-color: #fff;
}

#section-2 h2 {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 35px;
    font-size: 40px;
    font-weight: 800;
    position: relative;
}

#section-2 .slick-slider svg path {
    color: #000;
}

#section-2 .slick-slide {
    padding: 10px 20px;
}

#section-2 .inner-box .box-header {
    position: relative;
}

#section-2 .inner-box .box-header .main-img {
    overflow: hidden;
    aspect-ratio: 16/9;
}

#section-2 .inner-box .box-header .main-img img {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
}

#section-2 .inner-box .box-header .main-img:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

#section-2 .inner-box .box-header .date-box {
    position: absolute;
    background-color: var(--color-03);
    padding: 10px 25px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    right: 15px;
    bottom: -20px;
    z-index: 99;
}

#section-2 .inner-box .date-box p {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: -10px;
}

#section-2 .inner-box .date-box span {
    font-size: 15px;
}

#section-2 .inner-box .title {
    padding-top: 30px;
    cursor: pointer;
}

#section-2 .inner-box .title a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-02);
    transition: color 0.3s;
}

#section-2 .inner-box .title:hover a {
    color: var(--color-03);
}

#section-2 .inner-box .description {
    cursor: pointer;
    font-style: italic;
    font-weight: 300;
}

#section-2 .button {
    text-align: center;
    margin-top: 20px;
}

#section-2 button a {
    text-decoration: none;
    color: #fff;
}

/* End section 2 */
/* Section 3 */
#section-3 {
    padding-bottom: 40px;
    background-color: #fff;
}

#section-3 .inner-main {
    padding: 40px;
    background-image: url("assets/image/section_5_bg.jpg");
    background-position: bottom;
    position: relative;
}

#section-3 .inner-main::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

#section-3 .inner-main .inner-content {
    position: relative;
    text-align: center;
    color: #fff;
}

#section-3 .inner-main .inner-content h2 {
    font-weight: 700;
    font-size: 40px;
}

#section-3 .inner-main .inner-content p {
    font-size: 20px;
}

#section-3 .button {
    text-align: center;
    margin-top: 20px;
}

#section-3 button a {
    text-decoration: none;
    color: #fff;
}

/* End section 5 */
/* Section 6 */
#section-6 .footer-head {
    background-color: #fff;
}

#section-6 img {
    margin-top: 50px;
    width: 100%;
}

#section-6 .footer_main {
    background-color: #222222;
}

#section-6 .footer_main .inner-main {
    padding: 30px;
    color: #fff;
    text-align: justify;
}

#section-6 .footer_main .inner-main .contact-list .icon {
    font-size: 20px;
    padding: 10px;
}

#section-6 .footer_main .inner-main .row .col-lg-3 ul {
    padding-left: 30px;
}

#section-6 .footer_main ul .head {
    font-size: 25px;
}

#section-6 .footer_main ul .email-input {
    width: 100%;
    margin-top: 10px;
}

#section-6 .footer_main ul .email-input input {
    padding: 8px 15px;
    border-radius: 25px;
}

#section-6 .footer_main .copyright-box {
    text-align: center;
}

/* End section 6 */
/* Responsive */
@media screen and (max-width: 992px) {
    #section-2 .inner-wrap .left-box {
        text-align: center;
    }

    #section-2 .inner-wrap .right-box {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .col-sm-12 {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .col-sm-12 {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .col-sm-12 {
        text-align: center;
    }
}